<h1 class="mb-1 restaurant-show-title">建立新的餐廳</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
        <form action="/restaurants" method="POST" style="display: inline;">
        <div class="form-group">   
            <div class="mb-1">
                <span class="text-secondary">
                <i class="fas fa-utensils pr-2"></i>
                餐廳名稱：
                </span>
                <input class="form-control" type="text" placeholder="餐廳名稱：" name="name" required>
            </div>
            <div class="mb-1">
                <span class="text-secondary">
                <i class="fas fa-utensils pr-2"></i>
                餐廳英文名稱：
                </span>
                <input class="form-control" type="text" placeholder="餐廳英文名稱：" name="name_en">
            </div>
            
            <div class="mb-1">
                <span class="text-secondary">
                <i class="fas fa-utensils pr-2"></i>
                類別：
                </span>
                <input class="form-control" type="text" placeholder="類別" name="category" required>
            </div>

            <div class="mb-1">
                <span class="text-secondary">
                <i class="fas fa-utensils pr-2"></i>
                圖檔URL：
                </span>
                <input class="form-control" type="text" placeholder="圖檔URL" name="image">
            </div>

            <div class="mb-1">
                <span class="text-secondary">
                <i class="fas fa-map-marker-alt pr-2"></i>
                地址：
                </span>
                <input class="form-control" type="text" placeholder="地址" name="address">
                
            </div>

            <div class="mb-1">
                <span class="text-secondary">
                <i class="fas fa-mobile-alt pr-2"></i>
                電話：
                </span>
                <input class="form-control" type="text" placeholder="電話" name="phone">
            </div>

            <div class="mb-1">
                <span class="text-secondary">
                <i class="fas fa-star fa-xs"></i>
                評價：
                </span>
                <input class="form-control" type="text" placeholder="評價" name="rating" required>
            </div>

            <div class="mb-1">
                <span class="text-secondary">
                <i class="fas fa-mobile-alt pr-2"></i>
                敘述說明：
                </span>
                <textarea class="form-control" type="text" placeholder="敘述說明" name="description"></textarea>
            </div>
            
            <div class="form-btn">
                <button class="btn btn-success" type="submit">Create</button>
            </div>
        </div> 
        </form>
    </div>
  </div>
</div>